/.idea/**
*.pyc
*.c
/test.py
/setup.py
/build_sites.py
/web/backend/user.py
/build/**
/venv/**
/cloudflarespeedtest/**
/.vscode/**
/config/media.db
/config/user.db
/config/config.yaml
/my_env/**
/nohup.out